/* purgecss start ignore */
.accent{
  background-color:#ffeb3b!important;
  border-color:#ffeb3b!important;
}

.plain {
  background: #ffffff;
}

#card {
  border-radius: 2px;
}

.home-banner {
  top : -120px;
}
.home-section {
  position: relative;
  height : 100px;
}

@media only screen and (max-width: 960px) {
  .home-banner {
    top : -80px;
  }
  .home-section {
    position: relative;
    height : 100px;
  }
}

.wrapper {
  width: 100%;
  height : 100%;
}
.wrapper-width {
  width: 100%;
}
.center {
  margin: auto;
  // width: 100%;
  text-align: start;
}
.center-content {
  max-width: 600px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}
.center-content img {
  width: 100%;
  height: auto;
  position: relative;
  top: -1px;
}

.view {
  max-width: 1000px !important;
  margin: 0 auto;
  position: relative;
}

@mixin mobile {
  @media only screen and (max-width: 460px) { @content; }
}

$colorPrimary: #009688;
$colorPrimaryDark: #003c36;
$textColor: rgba(black, 0.87);
$textColorSub: rgba(black, 0.54);
$avatarSize: 128px;
$avatarSizeSmall: 96px;
$avatarBorder: 4px;
$avatarBorderSmall: $avatarBorder;
$mainPadding: 24px;

.main-link {
  border-bottom: 3px solid #ffeb3b;
  color: white;
}

.main-link:hover {
  color: white;
}

.simple-link {
  font-weight: bold;
  color: $colorPrimary;
}

.simple-link:hover {
  border-bottom: 3px solid $colorPrimary;
  font-weight: bold;
  color: $colorPrimary;
}


.avatar {
  width: $avatarSize;
  height: $avatarSize;

  @include mobile {
    width: $avatarSizeSmall;
    height: $avatarSizeSmall;
  }

  background: url('/images/avatar.png');
  background-size: cover;
  border-radius: 50%;
  background-color: #525252;
  align-self: center;

  border: $avatarBorder solid white;

  @include mobile {
    border: $avatarBorderSmall solid white;
  }
}

.content-container {
  position: relative;
  width: 100%;
  background-color: $colorPrimary;
  display: flex;
  justify-content: center;
  flex: 0 0 auto;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 100%;

    height: $avatarSize / 2 + $avatarBorder + $mainPadding;

    @include mobile {
      height: $avatarSizeSmall / 2 + $avatarBorderSmall + $mainPadding;
    }
  }
}
.content-home {
  position: relative;
  width: 100%;
  background-color: $colorPrimaryDark;
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
  max-height: 200px;
}

.theme--light .content-container {
  background-color: $colorPrimary;
  &::before {
    background-color: #fafafa;
  }
}
.theme--dark .content-container {
  background-color: $colorPrimaryDark;
  &::before {
    background-color: #303030;
  }
}

.theme--light .content-home {
  background-color: $colorPrimary;
}
.theme--dark .content-home {
  background-color: $colorPrimaryDark;
}

.content {
  position: relative;
  padding: $mainPadding;
  color: rgba(#fff, 0.8);
  width: 500px;
  display: flex;
  flex-direction: column;

  font-size: 24px;

  line-height: 32px;
  @include mobile {
    width: 350px;
  }

  a {
    display: inline-block;
    position: relative;
    font-weight: 700;
    color: #fff !important;
    text-decoration: none;
    border-bottom: 4px solid #ffeb3b;
    z-index: 0;

    &::before {
      position: absolute;
      content: '';
      left: -6px;
      right: -6px;
      top: 0;
      bottom: 0;
      z-index: -1;
      visibility: hidden;
    }

    &:hover::before {
      visibility: visible;
    }

    &:active::before {
      opacity: 1;
      visibility: visible;
    }
  }

  p:first-of-type {
    margin-top: 32px;
    @include mobile { margin-top: 24px; }
  }

  p:last-of-type {
    margin-bottom: 10px;
    @include mobile { margin-bottom: 32px; }
  }

  p {
    text-align: center;
    margin: 16px auto;
    align-self: center;
    @include mobile {
      margin: 8px;
    }
  }
}


// portfolio
$desktopSideMargin: 24px;
$desktopWidth: 960px - $desktopSideMargin * 2;
$desktopPagerWidth: $desktopWidth * .65;
$intermediateWidth: 600px - $desktopSideMargin * 2;
$narrowSideMargin: 16px;
$pageDotSize: 8px;
$pageDotPadding: 4px;

@mixin stacked {
  @media only screen and (max-width: ($desktopWidth + $desktopSideMargin * 2 - 1)) {
    @content;
  }
}

@mixin narrow {
  @media only screen and (max-width: ($intermediateWidth + $desktopSideMargin * 2 - 1)) {
    @content;
  }
}

.top-bar-content,
.page-content {
  width: $desktopWidth;

  @include stacked {
    width: $intermediateWidth;
  }

  @include narrow {
    box-sizing: border-box;
    width: 100%;
  }

  padding: 0 $desktopSideMargin;

  @include narrow {
    padding: 0 $narrowSideMargin;
  }

  margin: 0 auto;
}

// here comes a doozy...

.theme--dark .edge-clicker.prev {
  background-image: url('/carousel/edge_prev_dark.svg') !important;
}

.theme--dark .edge-clicker.next {
  background-image: url('/carousel/edge_next_dark.svg') !important;
}

section.project {
  // layout
  margin-bottom: 56px;
  position: relative;

  // styling
  h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin: 0;

    .material-icons {
      font-size: 20px;
      line-height: 20px;
      vertical-align: bottom;
    }
  }

  p.date {
    color: $textColorSub;
  }

  .actions {
    margin-top: 20px;

    a {
      color: $colorPrimary;
      font-size: 14px;
      line-height: 16px;
      font-weight: 500;
      text-decoration: none;
      display: inline-block;
      margin-right: 8px;
      margin-bottom: 8px;
      padding: 6px 8px;
      border: 2px solid $colorPrimary;
      border-radius: 4px;

      &:hover {
        color: white;
        background-color: $colorPrimary;
      }

      &:active {
        color: white;
        background-color: $colorPrimaryDark;
        border: 2px solid $colorPrimaryDark;
      }
    }
  }

  // layout
  display: flex;
  flex-direction: row;

  @include stacked {
    flex-direction: column;
  }

  .info-block {
    flex: 1 0 0;

    @include stacked {
      flex: 1 1 auto;
    }

    padding-right: 24px;
    margin-bottom: 32px;
  }

  .pages {
    width: $desktopPagerWidth;
    align-self: flex-start;

    .v-slide-group__wrapper {
      contain: unset !important;
    }
    .v-slide-group__prev {
      display: none;
    }
    .v-slide-group__next {
      display: none;
    }
    @include stacked {
      width: 100%;
      left: 0;
      right: 0;
    }

    @include narrow {
      left: -8px;
      right: -8px;
      width: calc(100% + 16px);
    }

    overflow: hidden;
    position: relative;

    &.pannable {
      cursor: grab;
      padding-bottom: $pageDotSize + $pageDotPadding * 2 + 4px; // for dots
    }

    &.panning {
      cursor: grabbing;
    }

    &:not(.panning) .page:not(.no-fullscreen) .media {
      cursor: pointer;
    }

    .page-scroll {
      display: flex;
      flex-direction: row;
      transform: translate3d(0, 0, 0);

      &.animate-scroll {
        transition: transform .2s ease;
      }
    }

    .page {
      height: 400px;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      &.no-padding .media {
        padding: 0;
      }

      img {
        pointer-events: none;
      }

      .media {
        position: relative;
        flex: 1 1 0;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        padding: 24px;
        outline: 0; // no outline on focus; definitely not ideal

        > div {
          flex: 0 0 auto;
        }

        @mixin device-frame($name, $padding, $scale) {
          .device-frame.device-#{$name} {
            background: transparent url(/images/frame_#{$name}.svg) no-repeat 0 0;
          }

          .device-frame.device-#{$name}_light {
            background: transparent url(/images/frame_#{$name}_light.svg) no-repeat 0 0;
          }

          .device-frame.device-#{$name},
          .device-frame.device-#{$name}_light {
            padding: #{$padding};
            transform:scale($scale);
            video,
            img {
              @content;
            }
          }
        }

        @include device-frame('nexus5', 70px 18px 94px 18px, 0.558714) {
          width: 360px;
          height: 640px;
        }

        @include device-frame('browser', 44px 0 0 0, 0.2) {
          width: 1440px;
          height: auto;
        }

        @include device-frame('chromebook', 63px 246px 136px 250px,  0.2) {
          width: 1280px;
          height: 850px;
          object-position: 0% 0%;
          object-fit: cover;
        }

        @include device-frame('wear_round', 180px 38px 180px 38px,  0.5) {
          width: 320px;
          height: 320px;
        }

        @include device-frame('undefined', 180px 38px 180px 38px, 1) {
          width: 320px;
        }
      }

      .caption {
        font-size: 14px;
        line-height: 20px;
        background-color: rgba(white, .9);
        color: $textColor;
        padding: 16px 20px;

        :last-child {
          margin-bottom: 0;
        }
      }

      &:not(.dark) .caption {
        background-color: #263238e6;
        color: rgba(white, .7);
      }

      &:not(.dark) a {
        color: white;
      }

      &.video {
        .media {
          &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(white, .2);
            z-index: 1;
          }

          &::after {
            content: 'play_circle_filled';
            font-size: 48px;
            pointer-events: none;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -24px;
            margin-top: -24px;
            background-color: #fff;
            border-radius: 50%;
            z-index: 2;
          }

          &:before,
          &:after {
            opacity: 1;
            transition: opacity .2s ease;
          }

          &:hover:before,
          &:hover:after {
            opacity: 0;
          }

          &.loaded {
            video {
              display: block;
            }

            .thumb {
              display: none;
            }
          }
        }

        video {
          display: none;
        }
      }
    }

    .edge-clicker {
      content: '';
      cursor: pointer;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      background: transparent none repeat-y;
      z-index: 1;
    }

    .edge-clicker.prev {
      left: 0;
      background-image: url('/carousel/edge_prev.svg');
      background-position: 0% 0%;
    }

    .edge-clicker.next {
      right: 0;
      background-image: url('/carousel/edge_next.svg');
      background-position: 100% 0%;
    }

    .page-dots {
      position: absolute;
      left: 0;
      height: $pageDotSize + $pageDotPadding * 2;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      flex-direction: row;
      margin: 0 auto;

      $pageDotColor: grey;

      .page-dot {
        position: relative;
        width: $pageDotSize;
        height: $pageDotSize;

        display: block;
        padding: $pageDotPadding;
        cursor: pointer;

        &::after {
          content: '';
          display: block;
          border: 1px solid $pageDotColor;
          border-radius: 50%;
          position: absolute;
          left: $pageDotPadding;
          top: $pageDotPadding;
          right: $pageDotPadding;
          bottom: $pageDotPadding;
          transition: border .2s ease;
        }

        &.active::after {
          background: $pageDotColor;
        }
      }
    }
  }
}

section.project.tall .page {
  height: 500px;
}

footer {
  color: $textColorSub;
  margin: 56px 0;
  padding-top: 56px;

  @include narrow {
    padding-top: 32px;
    margin: 32px 0;
  }

  border-top: 1px solid rgba(black, .1);
}

body.has-fullscreen {
  overflow: hidden;
}

.fullscreen-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: white;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  justify-content: center;
  transform: translate3d(0, 0, 0);
  transition: opacity .2s ease, visibility 0s ease .2s;

  body.has-fullscreen & {
    opacity: 1;
    visibility: visible;
    transition: opacity .2s ease, visibility 0s linear;
  }

  padding: 64px;

  &::after {
    content: 'close';
    color: $textColorSub;
    pointer-events: none;
    position: absolute;
    right: 32px;
    top: 32px;
  }

  @include stacked {
    padding: 32px;

    &::after {
      right: 8px;
      top: 8px;
    }
  }

  img,
  video {
    flex: 1 0 0;
    object-fit: scale-down;
    object-position: 50% 50%;
    display: block;
  }
}

.page.circle video,
.page.circle img {
  border-radius: 10000px;
}

video {
  opacity: 0;
  outline: 0; // remove border in firefox

  .loaded & {
    opacity: 1;
  }
}

.minheight {
  min-height: 90vh !important;
}

.overlay-index {
  z-index: 13000 !important;
}

@media only screen and (max-width: 960px) {
  .minheight {
    min-height: 90vh !important;
  }
}

/* purgecss end ignore */