.fw-black {
  font-weight: 900;
}

.big-txt1 {
  font-size: 20px;
  letter-spacing: 1px;
}

.vplistmain-pro ul {
  list-style: none;
  padding-left: 0;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  margin: 0;
  float: left;
  width: 100%
}

.vplistmain-pro ul li {
  margin-bottom: 15px;
  display: inline-flex !important;
  width: 100%;
  float: left
}

.vplistmain ul {
  list-style: none;
  padding-left: 0;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  margin: 0;
  float: left;
  width: 100%
}

.vplistmain ul li {
  margin-bottom: 15px;
  display: inline-flex !important;
  width: 100%;
  vertical-align: top
}

.vplist ul {
  list-style: none;
  padding-left: 0;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  margin-top: 10px;
  margin-bottom: 10px
}

.vplist ul li::before {
  content: "\2022";
  color: #d8d8d8;
  font-weight: 700;
  font-size: 18px;
  padding-right: 10px;
  line-height: 20px
}

.vplist ul li {
  font-size: 14px;
  letter-spacing: .7px;
  margin-bottom: 10px;
  width: calc(100% - 20px);
  display: inline-flex !important
}

.vplist ul li::after {
  display: block;
  clear: both;
  content: ""
}

.vpimg {
  width: 280px;
  height: 280px;
  border-radius: 20px;
}

.vpbg-sm {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 10px
}

.call-icon {
  background: url(https://imgs.bharatmatrimony.com/bmimgs/desktop-images/vp-icons.png) -8px -223px no-repeat;
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: -13px;
  right: -18px
}

.block-icon::before,
.brother-icon::before,
.caste-icon::before,
.close-profile-icon::before,
.dosh-icon::before,
.drinks-icon::before,
.employ-icon::before,
.equality-img-1::before,
.equality-img-2::before,
.equality-img-3::before,
.equality-img-4::before,
.equality-img-5::before,
.equality-img-6::before,
.equality-img-7::before,
.equality-img-8::before,
.equality-img-9::before,
.family-icon::before,
.flag-icon::before,
.gothram-icon::before,
.greycros::before,
.grntick::before,
.horo-icon::before,
.ident-badge-icon::before,
.lifestyle-img-1::before,
.lifestyle-img-2::before,
.lifestyle-img-3::before,
.lifestyle-img-4::before,
.lifestyle-img-5::before,
.lifestyle-img-6::before,
.lifestyle-img-7::before,
.lifestyle-img-8::before,
.lifestyle-img-9::before,
.location-icon::before,
.lock-brack-icon1::before,
.lock-brack-icon::before,
.lock-str-icon1::before,
.lock-str-icon::before,
.mobile-badge-icon::before,
.more-icon::after,
.mutual-icon::before,
.nuc-family-icon::before,
.nxtprf::after,
.pers-icon::before,
.person-height-icon::before,
.premium-icon::before,
.prevprf::before,
.prof-edit::before,
.profes-badge-icon::before,
.profile-badge-icon::before,
.recent-join-icon::before,
.religion-icon::before,
.report-icon::before,
.ring-icon1::before,
.ring-icon::before,
.rupee-icon::before,
.short-icon::before,
.shortlisted-icon::before,
.sister-icon::before,
.sm-call-icon::before,
.smoke-icon::before,
.social-badge-icon::before,
.spoon-icon::before,
.star-icon::before,
.starblink-icon::before,
.study-icon::before,
.verify-blue-icon::before,
.verify-icon::before,
.work-icon::before,
.zodiac-icon::before {
  background: url(https://imgs.bharatmatrimony.com/bmimgs/desktop-images/vp-icons.png) no-repeat;
  content: "";
  position: relative
}

.ring-icon::before {
  background-position: -99px -13px;
  height: 20px;
  margin-right: 10px;
  padding-left: 20px
}

.more-icon::after {
  background-position: -358px -243px;
  width: 8px;
  height: 24px;
  top: 9px
}

.prof-edit::before {
  background-position: -14px -11px;
  height: 24px;
  margin-right: 15px;
  padding-left: 20px
}

.pers-icon::before {
  background-position: -40px -14px;
  height: 24px;
  top: 1px;
  margin-right: 15px;
  padding-left: 20px
}

.person-height-icon::before {
  background-position: -68px -14px;
  height: 24px;
  top: 1px;
  margin-right: 15px;
  padding-left: 20px
}

.smoke-icon::before {
  background-position: -277px -44px;
  height: 24px;
  top: 0;
  margin-right: 15px;
  padding-left: 20px;
  padding-bottom: 25px
}

.drinks-icon::before {
  background-position: -8px -47px;
  height: 29px;
  top: 0;
  margin-right: 15px;
  padding-left: 20px;
  padding-bottom: 10px
}

.ring-icon1::before {
  background-position: -97px -11px;
  height: 20px;
  top: 0;
  margin-right: 15px;
  padding-left: 20px;
  padding-bottom: 25px
}

.spoon-icon::before {
  background-position: -39px -46px;
  height: 26px;
  top: -5px;
  margin-right: 10px;
  padding-left: 25px;
  padding-bottom: 10px
}

.location-icon::before {
  background-position: -129px -11px;
  height: 28px;
  top: 0;
  margin-right: 15px;
  padding-left: 20px;
  padding-bottom: 10px
}

.flag-icon::before {
  background-position: -68px -50px;
  height: 20px;
  top: 0;
  margin-right: 15px;
  padding-left: 20px
}

.sm-call-icon::before {
  background-position: -160px -16px;
  height: 24px;
  top: 4px;
  margin-right: 15px;
  padding-left: 20px
}

.lock-brack-icon::before {
  background-position: -360px -12px;
  height: 75px;
  top: 2px;
  margin-right: 10px;
  padding-left: 30px
}

.lock-str-icon::before {
  background-position: -402px -12px;
  height: 75px;
  top: 2px;
  margin-right: 10px;
  padding-left: 30px
}

.btm-bdr-line::after {
  border-bottom: 1px solid #eee;
  content: "";
  display: block;
  width: 100%;
  margin: 25px 0
}

.caste-icon::before {
  background-position: -187px -14px;
  height: 24px;
  top: 3px;
  margin-right: 15px;
  padding-left: 20px
}

.religion-icon::before {
  background-position: -204px -187px;
  height: 24px;
  top: 0;
  margin-right: 15px;
  padding-left: 20px
}

.gothram-icon::before {
  background-position: -215px -12px;
  height: 24px;
  top: 0;
  margin-right: 15px;
  padding-left: 20px;
  padding-bottom: 10px
}

.horo-icon::before {
  background-position: -246px -14px;
  height: 24px;
  top: 3px;
  margin-right: 15px;
  padding-left: 20px
}

.zodiac-icon::before {
  background-position: -328px -191px;
  height: 24px;
  top: 3px;
  margin-right: 15px;
  padding-left: 23px
}

.employ-icon::before {
  background-position: -279px -10px;
  height: 24px;
  top: 0;
  margin-right: 15px;
  padding-left: 20px
}

.rupee-icon::before {
  background-position: -246px -46px;
  height: 24px;
  width: 25px;
  top: -1px;
  margin-right: 14px;
  padding-left: 23px;
  padding-bottom: 25px
}

.study-icon::before {
  background-position: -311px -15px;
  height: 24px;
  top: 2px;
  margin-right: 14px;
  padding-left: 21px
}

.work-icon::before {
  background-position: -96px -52px;
  height: 20px;
  top: 2px;
  margin-right: 15px;
  padding-left: 20px
}

.lock-brack-icon1::before {
  background-position: -360px -138px;
  height: 95px;
  top: 0;
  margin-right: 10px;
  padding-left: 30px
}

.lock-str-icon1::before {
  background-position: -402px -138px;
  height: 95px;
  top: 0;
  margin-right: 10px;
  padding-left: 30px
}

.star-icon::before {
  background-position: -307px -51px;
  height: 24px;
  top: 1px;
  margin-right: 15px;
  padding-left: 20px
}

.dosh-icon::before {
  background-position: -170px -190px;
  height: 24px;
  top: 3px;
  margin-right: 14px;
  padding-left: 21px
}

.nuc-family-icon::before {
  background-position: -129px -46px;
  height: 24px;
  top: 0;
  margin-right: 15px;
  padding-left: 20px;
  padding-bottom: 7px
}

.family-icon::before {
  background-position: -161px -49px;
  height: 24px;
  top: 0;
  margin-right: 15px;
  padding-left: 20px
}

.brother-icon::before {
  background-position: -215px -47px;
  height: 24px;
  top: 0;
  margin-right: 15px;
  padding-left: 20px
}

.sister-icon::before {
  background-position: -189px -45px;
  height: 24px;
  top: -2px;
  margin-right: 15px;
  padding-left: 20px;
  padding-bottom: 5px
}

.shortlisted-icon {
  display: inline-block
}

.shortlisted-icon::before {
  background-position: -153px -297px;
  height: 28px;
  top: -1px;
  padding-left: 21px;
  padding-bottom: 4px;
  left: -5px
}

.short-icon {
  display: inline-block
}

.short-icon::before {
  background-position: -241px -247px;
  height: 28px;
  top: -1px;
  padding-left: 21px;
  padding-bottom: 4px;
  left: -5px
}

.verify-icon::before {
  background-position: -255px -191px;
  height: 28px;
  top: 0;
  padding-left: 21px;
  padding-bottom: 10px
}

.verify-blue-icon::before {
  background-position: -179px -298px;
  height: 28px;
  top: -2px;
  padding-left: 21px;
  padding-bottom: 10px
}

.premium-icon::before {
  background-position: -235px -192px;
  height: 28px;
  top: -2px;
  padding-left: 21px;
  padding-bottom: 10px
}

.mutual-icon::before {
  background-position: -281px -192px;
  height: 28px;
  top: -2px;
  padding-left: 21px;
  padding-bottom: 10px
}

.recent-join-icon::before {
  background-position: -303px -191px;
  height: 28px;
  top: -2px;
  padding-left: 21px;
  padding-bottom: 10px
}

.close-profile-icon::before {
  background-position: -303px -237px;
  height: 25px;
  top: -30px;
  padding-left: 22px;
  padding-bottom: 15px;
  left: 530px
}

.ident-badge-icon::before {
  background-position: -11px -85px;
  height: 44px;
  top: 0;
  margin-right: 10px;
  padding-left: 43px
}

.mobile-badge-icon::before {
  background-position: -51px -85px;
  height: 44px;
  top: 0;
  margin-right: 10px;
  padding-left: 43px
}

.profile-badge-icon::before {
  background-position: -89px -85px;
  height: 44px;
  top: 0;
  margin-right: 10px;
  padding-left: 43px
}

.profes-badge-icon::before {
  background-position: -132px -85px;
  height: 44px;
  top: 0;
  margin-right: 10px;
  padding-left: 43px
}

.social-badge-icon::before {
  background-position: -175px -85px;
  height: 44px;
  top: 0;
  margin-right: 10px;
  padding-left: 43px
}

.starblink-icon::before {
  background-position: -270px -243px;
  height: 28px;
  top: 0;
  margin-right: 10px;
  padding-left: 25px
}

.lifestyle-img-1::before {
  background-position: -218px -90px;
  height: 44px;
  top: 0;
  margin-right: 15px;
  padding-left: 38px
}

.lifestyle-img-2::before {
  background-position: -255px -90px;
  height: 44px;
  top: 0;
  margin-right: 15px;
  padding-left: 38px
}

.lifestyle-img-3::before {
  background-position: -292px -88px;
  height: 44px;
  top: 0;
  margin-right: 15px;
  padding-left: 38px
}

.lifestyle-img-4::before {
  background-position: -330px -90px;
  height: 44px;
  top: 0;
  margin-right: 15px;
  padding-left: 38px
}

.lifestyle-img-5::before {
  background-position: -10px -139px;
  height: 44px;
  top: 0;
  margin-right: 15px;
  padding-left: 38px
}

.lifestyle-img-6::before {
  background-position: -50px -139px;
  height: 44px;
  top: 0;
  margin-right: 15px;
  padding-left: 38px
}

.lifestyle-img-7::before {
  background-position: -88px -135px;
  height: 44px;
  top: 0;
  margin-right: 15px;
  padding-left: 38px
}

.lifestyle-img-8::before {
  background-position: -126px -137px;
  height: 44px;
  top: 0;
  margin-right: 15px;
  padding-left: 38px
}

.lifestyle-img-9::before {
  background-position: -165px -136px;
  height: 44px;
  top: 0;
  margin-right: 17px;
  padding-left: 36px
}